.title {
  margin-left: 400px;
  width: 197px;
  height: 50px;
}

.table {
  margin:auto;
  width: 1064px;
  left: 428px;
  top: 269px;
}

.thead {
  width: 1064px;
  height: 50px;

  /* 서브컬러 */

  background: #ebe9f2;
}

.noticerow {
  text-align: center;
  height: 50px;
}

.titlediv{
  width: 1000px;
  text-align: center;
}
