body {
  margin: 0;
}

/* 글꼴 전역 설정 */
* {
  font-family: "Gmarket Sans TTF";
  font-style: normal;
  font-weight: 500;
  color: #000;
}

input[type="text"] {
  font-family: "Gmarket Sans TTF";
  font-style: normal;
  font-weight: 500;
  color: #000;
}

::placeholder {
  font-family: "Gmarket Sans TTF";
  font-style: normal;
  font-weight: 500;
}
