.layout {
  display: flex;
  justify-content: center;
  align-items: center;

  left: calc(50% - 1064px / 2);

  position: fixed;
  top: 180px;

  background-color: #ffffff;
  border-top: none;

  z-index: 2;
}

.hiddenLayout {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1064px;
  height: 240px;

  position: relative;
  background-color: cadetblue;
}

.rowBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 1064px;
  height: 240px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 1064px;
  height: 60px;

  background-color: #ebe9f2;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 116.22px;
  height: 58px;

  margin: 1px;

  font-size: 16px;
  line-height: 16px;

  background-color: #ebe9f2;
  color: #7332c3;
}

.menu:not(:first-child) {
  cursor: pointer;
}

.menu:first-child {
  background-color: #7332c3;
  border: 1px #7332c3 solid;
  color: #ffffff;
}

.row:hover > .menu:not(:first-child) {
  color: #7332c366;
}

.row:hover > .menu:first-child {
  background-color: #ffffff;
  color: #7332c3;
}
