.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 42px;

  width: 347.89px;
  height: 95px;

  border: 3px solid saddlebrown;
  box-sizing: border-box;
}
