.pagenation {
  background-image: url("../images/pagenation.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 42px;

  width: 347.89px;
  height: 95px;
}
